Django~=3.1
django-germanium==2.3.0
flake8
coveralls
django-reversion>=2.0.13
responses==0.9.0
celery==5.0.5
freezegun==0.3.12
elasticsearch-dsl==7.4.0
https://github.com/druids/django-generic-m2m-field/tarball/SupportAddWitContentTypeAndPK
-e ../
